a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.pithyamman {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start; 
}

body {
    background-color: rgba(28, 28, 28, 1);
    overflow: hidden;
}

.home:hover, .about:hover, .projects:hover {
    font-size: 15px;
}

.pooo img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    height: 100px;
    width: 100px;
    margin-left:250px; 
    margin-top:-45px;
}
.piii img{
    border-radius:50%;
    height:30px;
    width:30px;
  margin-left:30px;

    margin-top:-25px;
}
